[user]
  name = Daniel King
[alias]
  st = status
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  editor = nvim
[github]
  user = northerner
[push]
  default = current
[rebase]
  autosquash = true
